@media only screen and (max-width: 1006px) {
	header {
        font-size: 18px;
    }
    .options li,
    .featured li {
        width: 45%;
    }
    #menu li {
        padding: 10px 0;
        font-size: 18px;
    }
}


@media only screen and (max-width: 480px) {
    header {
        font-size: 15px;
    }
    .options li,
    .featured li {
        width: 95%;
    }
    #menu li {
        padding: 10px 0;
        font-size: 15px;
    }
}