@media only screen and (max-width: 1018px) {
	header {
        font-size: 18px;
    }
    .options li,
    .featured li {
        width: 45%;
    }

    #menu li {
        padding: 10px 0;
        font-size: 18px;
    }

    .featured img {
    	width: 90%;
    }

    .menu-div, .project-div {
    	width: 100%;
    }

    .project-div-navbar li {
    	display: block;
    	width: 100%;
    }
}


@media only screen and (max-width: 480px) {
    .options li,
    .featured li {
        width: 95%;
    }

    #menu li {
        padding: 5% 0;
    }

    #menu {
    	width: 100%;
    }

    #menuToggle {
    	top: 38px;
    }

    .parent-div {
    	display: block;
    }

    .menu-div, .project-div {
    	width: 100%;
    }


    .project-div table {
    	width: 100%;
    	font-size: 20%;
    }

    .project-div-navbar li {
    	display: block;
    	width: 100%;
    }

    .project-management-navbar li {
    	width: 100%;
    }

    .create-new-project {
    	float: center;
    }
}